.tarjeta{
  background: linear-gradient(to right, #0c4159, #5ae3d5);
  box-shadow: #5ae3d5 0px -4px 21px 2px;
}
.logoredes{
  font-size: 50px;
}
.cardredes{
  width: 60px;
  height: 60px;
}
h1,h2{
  color: white;
}
h3{
  color:yellow;
  font-size: small;

}