<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
   <ion-card class="tarjeta">
    <div>
      <h1>Daniel Gaytan Perez</h1>
      <h2> $20,000.000</h2>
      <h3>Premium <ion-icon name="sparkles-outline"></ion-icon></h3>
    </div>
   </ion-card>
   <div><ion-slides>
    <ion-slide>
      <ion-card  class="cardredes">
        <ion-icon name="logo-whatsapp" class="logoredes" ></ion-icon>
      </ion-card>
      <ion-card class="cardredes">
        <ion-icon name="logo-apple" class="logoredes"></ion-icon>    
      </ion-card>
      <ion-card class="cardredes">
        <ion-icon name="logo-twitter" class="logoredes"></ion-icon>  
        </ion-card>
      <ion-card class="cardredes">
        <ion-icon name="logo-instagram" class="logoredes"></ion-icon>
      </ion-card >
      <ion-card class="cardredes">
        <ion-icon name="logo-github" class="logoredes"></ion-icon>
      </ion-card>
    </ion-slide>
    <ion-slide>
          <ion-card class="cardredes">
            <ion-icon name="logo-facebook"></ion-icon>
      </ion-card>
          <ion-card>
            <ion-icon name="logo-google"></ion-icon>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  
    <ion-button fill="clear">Action 1</ion-button>
    <ion-button fill="clear">Action 2</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  
    <ion-button fill="clear">Action 1</ion-button>
    <ion-button fill="clear">Action 2</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  
    <ion-button fill="clear">Action 1</ion-button>
    <ion-button fill="clear">Action 2</ion-button>
  </ion-card>
</ion-content>
