<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-slides>
  <ion-slide>
    <ion-card>
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-card>
    <ion-card>
      <ion-icon name="logo-apple"></ion-icon>    </ion-card>
    <ion-card>
      <ion-icon name="logo-twitter"></ion-icon>    </ion-card>
    <ion-card>
      sdfsdf
    </ion-card>
    <ion-card>
      sdfsdf
    </ion-card>
  </ion-slide>
  <ion-slide>
        <ion-card>
      sdfsdf
    </ion-card>
        <ion-card>
      sdfsdf
    </ion-card>
  </ion-slide>
</ion-slides>
</ion-content>
